

header{
    position: relative;
    text-align: center;
    height: 100px;
    color: rgb(255, 255, 255)
}
section{
    margin-bottom: 45px;
}
#logo{
    height: 70px;
    width: 70px;
    border-radius: 7px;
}
#barSup{
    
    height: 80px;
    background-color: rgb(167, 168, 168);
    border-radius: 6px;
}
#botonBuscar{
    background-color: rgb(40, 185, 230);

}
#botonBuscar:hover{
    background-color: rgb(108, 108, 141);
}
dialog#centro{
    position:fixed;
}
aside{
    text-align: center;
}
article{
    background-color: rgb(244, 248, 255);
    text-align: center;
    
}
footer{
    background-color: rgb(197, 189, 189);
    padding: 5px;
    width: 100%;
    height: 40px;
    color: white;
    position: fixed;
    bottom: 0;
    margin-top: 2cm;

}

#image1{
    
    position: relative;
    width: 700px;
    height: 500px;
}
#descripcionCasa{
    background-color: rgb(197, 189, 189);
    position: absolute;
    text-align: center;
    


}
#contImgSlider{
    position: relative;
}
#descripCasa{
    border-radius: 4px;
    padding: 8px;
    padding-right: 20px;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: bisque;
    
}
#contImag{
    position: relative;
    display: inline-block;
    text-align: center;
}
#formularioDeLogueo{
    text-align: left;
}
#contract{
    text-align: left;
    
}
.inputForm{
    border-top: none;
    border-left: none;
    border-right: none;
}